@using Microsoft.AspNetCore.Components.Routing

<nav class="nav flex-column">
    <NavLink class="nav-link" href="">Home</NavLink>
    <NavLink class="nav-link" href="pizzas">Get Pizza</NavLink>
    <NavLink class="nav-link" href="myorders">My Orders</NavLink>
    <NavLink class="nav-link" href="checkout">Checkout</NavLink>
</nav>
